<section *ngIf="song$ | async as song; else notFound" class="song-detail">
  <header class="song-header">
    <h2>{{ songTitle(song) }}</h2>
    <p class="meta">
      <span>{{ 'songs.key' | t }}: {{ song.baseKey }}</span>
      <span>{{ 'songDetail.style' | t }}: {{ song.styleId }}</span>
      <span *ngIf="song.rhythm">{{ 'songDetail.rhythm' | t }}: {{ song.rhythm }}</span>
    </p>
  </header>

  <div class="song-body">
    <div class="section" *ngFor="let section of song.song.sections">
      <h3>{{ section.name }}</h3>
      <div class="line" *ngFor="let line of section.lines">
        <div
          class="block"
          *ngFor="let block of line.blocks; let i = index"
          [class.chord-change]="hasChordChange(block, line.blocks[i - 1])"
        >
          <div class="chord" *ngIf="block.chord">{{ block.chord }}</div>
          <div class="lyrics">{{ blockLyrics(block) }}</div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #notFound>
  <p class="placeholder">{{ 'songDetail.notFound' | t }}</p>
</ng-template>
