@use '@angular/material' as mat;

// Material 3 theme definition
@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$violet-palette
  ),
  density: (scale: 0)
));

:root {
  @include mat.core-theme($theme);
  @include mat.all-component-themes($theme);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #f2f3f5;
  color: #222;
}
